{{>header}}
<h1>{{title}}</h1>
<img class="err404" src="https://image.freepik.com/vecteurs-libre/404-modele-web-erreur-chat-drole_23-2147763339.jpg"></img>
<p>{{error}}</p>
<p>{{name}}</p>
{{>footer}}
