<link rel='icon' href='./img/weather.png'>
<h1 id="main-title">{{title}} </h1>
{{>header}}

<script src='./js/app.js'>
 console.log('Javascript succesfully connected')
</script>
<br>
<a href=""><img src="./img/profile.png" class='portrait' alt=""></a>
<h1>Created by {{name}} </h1>
{{>footer}}